{% extends "./template.html" %}
{% block title %}<title>Prime Inventory - Home</title>{% endblock %}
{% block content %}
{% load static %}

<div class="content">
	<div class="welcome">
		<h2> Primary Weapons </h2>
		<br>
		<p>
			<dl>
				<dt><a class="category_link" href="/Primary/Bow">➤ Bow 			</a></dt>
					<dd><a class="category_link" href="/Primary/Bow">✦ Cernos Prime 		</a></dd>
					<dd><a class="category_link" href="/Primary/Bow">✦ Paris Prime 	 		</a></dd>
				<dt><a class="category_link" href="/Primary/Rifle">➤ Rifle 		</a></dt>
					<dd><a class="category_link" href="/Primary/Rifle">✦ Baza Prime  		</a></dd>
					<dd><a class="category_link" href="/Primary/Rifle">✦ Boltor Prime  		</a></dd>
					<dd><a class="category_link" href="/Primary/Rifle">✦ Braton Prime  		</a></dd>
					<dd><a class="category_link" href="/Primary/Rifle">✦ Burston Prime  	</a></dd>
					<dd><a class="category_link" href="/Primary/Rifle">✦ Latron Prime  		</a></dd>
					<dd><a class="category_link" href="/Primary/Rifle">✦ Panthera Prime  	</a></dd>
					<dd><a class="category_link" href="/Primary/Rifle">✦ Soma Prime  		</a></dd>
					<dd><a class="category_link" href="/Primary/Rifle">✦ Stradavar Prime  	</a></dd>
					<dd><a class="category_link" href="/Primary/Rifle">✦ Sybaris Prime  	</a></dd>
					<dd><a class="category_link" href="/Primary/Rifle">✦ Tiberon Prime  	</a></dd>
				<dt><a class="category_link" href="/Primary/Shotgun">➤ Shotgun 	</a></dt>
					<dd><a class="category_link" href="/Primary/Shotgun">✦ Tigris Prime 	</a></dd>
					<dd><a class="category_link" href="/Primary/Shotgun">✦ Corinth Prime 	</a></dd>
					<dd><a class="category_link" href="/Primary/Sniper">✦ Boar Prime 		</a></dd>
				<dt><a class="category_link" href="/Primary/Sniper">➤ Sniper 	</a></dt>
					<dd><a class="category_link" href="/Primary/Shotgun">✦ Vectis Prime 	</a></dd>
					<dd><a class="category_link" href="/Primary/Shotgun">✦ Rubico Prime 	</a></dd>
				<dt><a class="category_link" href="/Primary/Zhuge">➤ Zhuge 		</a></dt>
					<dd><a class="category_link" href="/Primary/Zhuge">✦ Zhuge Prime 	</a></dd>
			</dl>
		</p>
	</div>

	<footer>Copyright © 2020, Prime Inventory. All rights reserved.</footer>
</div>
{% endblock %}