{% extends "./template.html" %}
{% block title %}<title>Prime Inventory - Home</title>{% endblock %}
{% block content %}
{% load static %}

<div class="container">
	<h1>Primary Weapons</h1>
	<div class="content">
		<dd><a class="category_link" href="/Primary/Bow">➤ Bow 			</a></dd>
		<dd><a class="category_link" href="/Primary/Rifle">➤ Rifle 		</a></dd>
		<dd><a class="category_link" href="/Primary/Shotgun">➤ Shotgun 	</a></dd>
		<dd><a class="category_link" href="/Primary/Sniper">➤ Sniper 	</a></dd>
		<dd><a class="category_link" href="/Primary/Zhuge">➤ Zhuge 		</a></dd>
	</div>
</div>

{% endblock %}