{% extends "./template.html" %}
{% block title %}<title>Prime Inventory - Home</title>{% endblock %}
{% block content %}
{% load static %}

<div class="content">
	<div class="welcome">
		<h2> ¡Welcome to Warframe Prime! </h2>
		<br>
		<p>On this website you'll be able to organize your prime components so you can check what Prime Weapon / Warframe you can build or sell depending on its remaining prime parts. <br><br>
			Warframe Prime is divided into main categories and subcategories, these are: <br>
			<dl>
				<dt><a class="category_link" href="/Primary">➤ Primary 			</a></dt>
					<dd><a class="category_link" href="/Primary/Bow">✦ Bow 			</a></dd>
					<dd><a class="category_link" href="/Primary/Rifle">✦ Rifle 		</a></dd>
					<dd><a class="category_link" href="/Primary/Shotgun">✦ Shotgun 	</a></dd>
					<dd><a class="category_link" href="/Primary/Sniper">✦ Sniper 	</a></dd>
					<dd><a class="category_link" href="/Primary/Zhuge">✦ Zhuge 		</a></dd>
				<dt> <a class="category_link" href="/Secondary">➤ Secondary</a></dt>
					<dd><a class="category_link" href="/Secondary/Ballista">✦ Ballista</a></dd>
					<dd><a class="category_link" href="/Secondary/AK">✦ AK</a></dd>
					<dd><a class="category_link" href="/Secondary/Dual">✦ Dual</a></dd>
					<dd><a class="category_link" href="/Secondary/Thrown">✦ Thrown</a></dd>
					<dd><a class="category_link" href="/Secondary/ShotgunSidearm">✦ Shotgun Sidearm</a></dd>
					<dd><a class="category_link" href="/Secondary/Pistol">✦ Pistol</a></dd>
				<dt><a class="category_link" href="/Melee">➤ Melee</a></dt>
				<dt><a class="category_link" href="/Warframe">➤ Warframe</a></dt>
				<dt><a class="category_link" href="/Companion">➤ Companion</a></dt>
				<dt><a class="category_link" href="/Archwing">➤ Archwing</a></dt>
			</dl>
		</p>
	</div>

	<footer>Copyright © 2020, Prime Inventory. All rights reserved.</footer>
</div>
{% endblock %}