{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"><link rel="icon" type="image/ico" href="{% static 'img/icon/favicon.ico' %}?v=<?php echo(rand()); ?>">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Prime Inventory - Login</title>
	<link rel="stylesheet" href="{% static 'css/login.css' %}?v=<?php echo(rand()); ?>">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet">
</head>
<body>
	<a class="logo" href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt="logo"></a>

	<div class="content">
		<form method="POST" id="login_form">{% csrf_token %}
			{% if user.is_authenticated %}
				<meta http-equiv = "refresh" content = "2; url = ../" />
			{% else %}
				<p>Username:</p>
				<div class="field-container">
					<i class="fa fa-user-circle icono" aria-hidden="true"></i>
					<input type="text" class="field" placeholder="Username" name="username"> <br/>
				</div>

				<p>Password:</p>
				<div class="field-container">
					<i class="fa fa-key fa-lg" aria-hidden="true"></i>
					<input type="password" class="field" placeholder="*******" name="password"> <br/>
				</div>

				<p class="center-content">
					<input type="submit" class="btn btn-black" value="Login" name="login_btn"> <br/><br/>
				</p>

				{% if messages %}
			        {% for message in messages %}
			        <div class="alert">
			          <span class="closebtn" style="cursor: pointer;" onclick="this.parentElement.style.display='none';">&times;</span>
			          {{ message }}
			        </div>
			       {% endfor %}
			    {% endif %}

				<hr>

				<div class="register_container">
					<a class="register" href="{% url 'register' %}">Sign Up</a>
				</div>

			{% endif %}
		</form>
	</div>



</body>
</html>