.dropcat {
  position            : fixed;
  top                 : 40px;
  display             : none;
  float               : left;
  background-color    : #111;
  min-width           : 160px;
  box-shadow          : 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index             : 200;
}
.dropcat_primary{
  left                : 80px;
}
.dropcat_secondary{
  left                : 220px;
}
.category_holder:hover .dropcat{
  display: block;
}
.btn_cat{
  font-size: 12px;
}