body {
	background-image: url(../img/Melee.jpg); /* Background image location */
	background-position   : center center; /* Centered background*/
	background-repeat     : no-repeat; /* Background image will not repeat */
	background-attachment : fixed; /* background image will be fixed  */
  background-size       : cover; /* auto-resizable background (depending on resolution*/
	font-family: Helvetica; /* Default font family */
  font-size             : 12px; /* Small font size so it'll be readable on small resolutions */
}

.content{
  margin                : 200px auto 0;
  width                 : 220px;
  padding               : 15px 15px 5px 15px;
	background-color      : #2e2e2e;
  color                 : #878624;
  /* Border */
	border                : 1px solid black;
  border-radius         : 10px;
	box-shadow            : inset 0px 0px 37px -19px rgba(0,0,0,1);
	-webkit-box-shadow    : inset 0px 0px 37px -19px rgba(0,0,0,1);
	-moz-box-shadow       : inset 0px 0px 37px -19px rgba(0,0,0,1);
}

#login_form p{
  color                 : white;
  font-size             : 12px;
  font-weight           : bold;
  margin-left           : 5px;
}

.field{
  border                : solid 1px #ccc;
  border-radius         : 0 4px 4px 0;
  font-size             : 12px;
  margin-right          : 5px;
  padding               : 9px;
  width                 : 150px;
}

.field:focus{
  border-color          : #18A383;
}

.center-content{
  margin                : 10px 0 0 0;
  text-align            : center;
}

.field-container div{
  display               : inline-block;
  vertical-align        : top;
}

.field-container i{
  background-color      : #eee;
  border                : solid 1px #ccc;
  border-radius         : 4px 0 0 4px;
  color                 : #888;
  height                : 10px;
  margin-left           : 5px;
  margin-right          : -5px;
  padding               : 10px 9px 12px 9px;
  vertical-align        : top;
}
.btn{
  border-radius         : 3px;
  display               : inline-block;
  padding               : 8px 5px;
  text-decoration       : none;
  width                 : auto;
}

.btn-black{
  background-color      : #222;
  color                 : #ddd;
}
.btn-black:hover{
  background-color      : #333;
  transform             : scale(1.05);
  text-shadow           : none;
  box-shadow            : none;
}