body {
	margin                : 0;
	padding               : 0;
	font-family           : 'Michroma', sans-serif;
  background-color      : #2e2e2e;
  background-image      : url(../img/Orphix.png);
  background-position   : top;
  background-size       : 100%;
  background-repeat     : no-repeat;
  background-attachment : fixed;
}
/* Hoja de estilo en cascada para la barra de navegación */
#navbar {
  list-style-type       : none;
  margin                : 0;
  padding               : 0;
  overflow              : hidden;
  background-color      : #111;
  height                : 50px;
  font-size             : 12px;
}

#navbar li {
  float                 : left;
}
.sticky {
  position              : fixed;
  top                   : 0;
  width                 : 100%;
}

.sticky + .content {
  padding-top           : 60px;
}

.category_holder{
  height                : 50px;
}

.category,
.contenelogin{
  display               : block;
  color                 : white;
  text-align            : right;
  text-decoration       : none;
  padding               : 0;
  -moz-user-select      : none;
  -webkit-user-select   : none;
  -ms-user-select       : none;
  user-select           : none;
  margin                : 15px 5px;
  cursor                : pointer;
}

.contenelogin h4,
.contenelogin img{
  font-size             : 12px;
  display               : inline-block;
  vertical-align        : middle;
}

.contenelogin h4{
  padding               : 0;
  margin                : 0;
}
.logo img:hover{
	transform             : scale(1.05);
}
.logo img{
  text-align            : center;
  padding               : 10px;
  max-width             : 100%;
  max-height            : 100%;
  margin                : 0;
  margin-left           : 9px;
}
.imagen{
  height                : 30px;
}
.derecha{
  width                 : auto;
  margin-right          : 10px;
  height                : 50px;
}

.category{
  float                 : left;
  overflow              : hidden;
  display               : flex;
  padding               : 0 10px;
}
.category img{
  border                : none;
  outline               : none;
  padding               : 0px 5px;
  max-width             : 17px;
  max-height            : 17px;
  font-family           : inherit;
  vertical-align        : bottom;
  margin                : 0 0 0 2px;
}
.official_page{
  width                 : 180px;
  background-color      : #ac9e12;
  height                : 50px;
}
.official_text{
  font-weight           : 600;
  text-align            : center;
  vertical-align        : middle;
  margin                : 0;
  padding               : 15px 25px;
}
.official_text:hover{
  font-size             : 1.1em;
  padding               : 15px 19px;
}
.separator{
  border-color          : #ac9e12;
  margin                : 0;
  background-color      : #ac9e12;
  height                : 1px;
}

.profileimg{
  border                : none;
  outline               : none;
  padding               : 0px 5px;
  max-width             : 17px;
  max-height            : 17px;
  font-family           : inherit;
  vertical-align        : bottom;
}